*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    
}
.header{
    height: 120px;
    background:#fff;
}
.logo{
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}
.logo2{
    float: left;
    margin-left: 10px;
    margin-top: 50px;
}
.bg{
    position: relative;
    margin-top: -6px;
    width: 100%;
    height: 494px;
    background:url(../image/bg2.png) no-repeat;
}
.wrap{
    float: left;
    width: 330px;
    height: 200px;
    margin-top: 140px;
    margin-left: 50%;
   background: rgba(11,152,205,0.7);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0px 12px rgba(255,255,255,0.4);
    
}
.login{
    padding: 5px;
}
.login p{
    font-family: 楷体;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-weight:600;
}
.inputs{
    float: left;
    margin-top:0px;
    height: 90px;
    color: #fff;
}
.role{
	padding:5px;
	 margin:5px;
}
.role select{
	 margin: 0px 16px;
	 width:100px;
	 padding: 2px 0px;
}
.inputs input{
    height: 20px;
    width: 190px;
}
.username{
    float: left;
    clear: both;
    padding: 5px;
    margin: 5px;
}
.username input{
    margin: 0px 13px;
}
.password{
    float: left;
    clear: both;
    padding:5px;
    margin:5px;
    letter-spacing:15px;
}
.actions{
    float: left;
    margin-top:38px;
    height: auto;
}
.submit{
    float:left;
    width: 80px;
    height: 25px;
    font-size: 15px;
    margin-left: 65px;
    border-radius: 5px;
    background:linear-gradient(to right, #4e9ccc ,#49eafc ,#4e9ccc );
    cursor: pointer;
}
.reset{
    float:right;
    width: 80px;
    height: 25px;
    font-size: 15px;
    margin-left: 30px;
    border-radius: 5px;
    background:linear-gradient(to right, #4e9ccc ,#49eafc ,#4e9ccc);
    cursor: pointer;
}
.footer{
    float: left;
    width: 100%;
    height:150px;
    margin: 0;
    background: #02395f;
}
.footer-1{
    margin-top: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
}


