*{
    margin:0;
    padding:0;
}
#warp_05{
    margin:20px 0px 0px 60px;
    width:1000px;
    padding-bottom:20px;
    background-color:#fff;
    box-shadow: 0px 0px 5px #888;
    background: url(../images/B78.jpg) no-repeat;
    background-size: 1000px 100%;
}
#warp_05 h3{
   font-size: 28px;
    text-align:center;
    padding-top:15px;
    color:#333;
    text-shadow: 3px 3px 3px #666;
}
#content{
   margin:5px 0px 0px 50px;
}
.table_0 {
/*    border-collapse:collapse;  单框线*/
    border-collapse: inherit;
    width: 900px;
}
.table_0 tr td {
    border: 1px solid #999;
    height: 40px;
    color:#333;
}
.td_1 {
    width: 150px;
    text-align: center;
}

.td_2 {
    width: 80px;
    text-align: left;
}

.td_3 {
    width: 30px;
}
.td_33:{
    width:120px;
}

.td_money {
    width: 450px;
}
input[type="text"],select{
    height:28px;
    background-color: rgba(235, 235, 229, 0.13);
}
select{
   height:32px;
    width:150px;
}
#home {
    width: 450px;
    height: 30px;
    background-color: rgba(235, 235, 229, 0.13);
    color:#333;
    font-size: 14px;
}

#tel {
    width: 450px;
    height: 30px;
    background-color: rgba(235, 235, 229, 0.13);
      color:#333;
    font-size: 14px;
}

#zipcode {
    height: 30px;
    background-color: rgba(235, 235, 229, 0.13);
     color:#333;
    font-size: 14px;
}

#grennway {
    width: 20px;
    height: 20px;
}

#submit {
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 400px;
    font-size: 16px;
    color:#333;
}

.beizhu {
    margin-left: 130px;
}